<h1 class="agency-name-header">Cat Adoption Agencies</h1>

<div id="agency-index">
    <%@agencies.each do |a|%>
    <button class="agencies-index-list" id="<%=a.id%>" onClick="agencyShowPage(this.id)">
      <p id="agency-name"><%=a.name%></p>
      <p id="agency-state"><%=a.state%></p>
    </button>

      <%end%>
</div>
<br>
<br>

<%if current_user.admin?%>
  <button class = "small-button"><%=link_to "New Agency", new_agency_path%></button>
  <%end%>
