// Place all the styles related to the agency controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.agency-name-header {
  font-family: Helvetica, sans-serif;
}

.agencies-index-list:hover {
  background-color: #ccc;
}

.agencies-index-list {
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 0px 5px;
  cursor: pointer;
  width: 35%;
  display: block;
}

.cats-index-list:hover {
  background-color: #ccc;
}

.cats-index-list {
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 50%;
  display: block;
}

#cats-index-list .cat-name {
  font-weight: bold;
}

p.cat-id  {
  display: none;
}

img {
  float: left;
  padding: 5px; /* Some padding */
  max-width: 150px; /* Set a small width */
  max-height: 106px;
  width: auto;
  height: auto;
}

#new-cat-form {
  display: block;
  font-weight: bold;
}

#newCatFormReload {
  display: none;
}

.newCat {
  display: none;
}
